<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xh.module_school">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".activity.PublishClassDemeanorActivity"
            android:label="发布班级风采"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.WorkManagerActivity"
            android:label="作业管理"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActionJudgeActivity"
            android:label="行为评价"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClassDemeanorActivity"
            android:label="班级风采"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClassInfoActivity"
            android:label="班级信息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SchoolMailDetailsActivity"
            android:label="信件详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QrcodeResultActivity"
            android:label="扫描结果"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishSchoolMailActivity"
            android:label="发送校长信件"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MySchoolMailListActivity"
            android:label="我的校长信件"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SchoolInfomationDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddSchoolInfomationActivity"
            android:label="新建学校资讯"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.CourseTableActivity"
            android:label="课程表"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewMessageActivity"
            android:label="新消息"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SchoolMasterMailActivity"
            android:label="校长信箱"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SchoolInfoListActivity"
            android:label="学校资讯"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckMainActivity"
            android:label="班级安全"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanActivity"
            android:label="扫描二维码"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
    </application>

</manifest>