<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xh.module">

    <application>
        <activity
            android:name=".base.activity.VideoPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"></activity>

        <service android:name=".base.service.UpdateApkService" />

        <activity
            android:name=".base.BackActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>